{:source-paths ["src"]
 :dependencies [[binaryage/devtools "1.0.3"]
                [nrepl "0.8.3"]
                [reagent "1.1.0"]
                [org.clojure/core.async "1.3.618"]]
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [tetris.core]}}
                      :devtools   {:after-load tetris.core/mount-root}}}

 :dev-http     {3000 {:root    "public"
                      :handler user/app}}}
